footer {
  z-index: 0;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: $background-darkblue;
  align-items: center;
}

.bottom-menu {
    position: relative;
    top: 40px;
  a {
    padding: 50px;
    color: $color-blue;

    @media (max-width: 600px) {
      padding: 25px;
    }
  }
  :hover {
    color: white;
  }
}

.social-media {
  h2 {
    padding-top: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
  }

  h5 {
    text-align: center;
    color: white;
  }

  span {
    color: #1c74b4;
  }
}
