header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 180px;
  background-color: #f8f9fa;

  @media (max-width: 500px) {
    flex-direction: column;
    height: 230px;
  }
}

.logo {
  img {
    height: fit-content;
    padding-right: 300px;

    @media (max-width: 850px) {
      padding-right: 30px;
    }

    @media (max-width: 500px) {
      padding: 0;
      margin-bottom: 1em;
    }
  }
}

nav {

  a {
    padding: 20px;
    text-decoration: none;
    font-size: 20px;
    color: darkgray;

    @media (max-width: 850px) {
      padding: 15px;
    }
  }

    :hover {
      color: black;
    }

}

