main {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;

        @media (max-width: 600px) {
            width: 80%;
        }

    .counter {
        width: 100%;
    }

    h1, h2 {
        text-transform: uppercase;
        font-weight: 400;
    }

    h1 {
        font-size: 3.2em;
        margin-bottom: 0;
    }

    h2 {
        font-size: 2.5em;
    }

    .important-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 2em 0 2em 0;

        @media (max-width: 600px) {
            flex-direction: column;
            margin: 1em 0 1em 0;
        }

        &__container {
            width: 70%;
            p {
                font-size: 0.9em; 
                margin: 0;  

            }

            h3 {
                text-transform: uppercase;
                font-weight: 400;
            }
        }  
    }

    iframe {
        position: relative;
        top: 50px;
        width: 100%;
        z-index: 1;
    }
}

