article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    padding: 3em;
    align-items: center;

    @media (max-width: 1100px) {
        padding: 1em 0 1em 0;
    }

    @media (max-width: 600px) {
        flex-direction: column;
        //justify-content: center;
    }

    .barista {
        width: 300px;
        height: 300px;
        border-radius: 50%;

        @media (max-width: 900px) {
            width: 200px;
            height: 200px;
        }
        
    }

    .article-text {
        width: 50%;

        @media (max-width: 600px) {
            width: 90%;
        }

        h1 { 
            font-size: 3em;
            margin-top: 0;

            @media (max-width: 600px) {
                text-align: center;
                margin-top: 0.5em;
            }
        }

        p {
            line-height: 1.6em;
            text-align: justify;
        }
    }
}

form {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: auto;
    justify-content: space-around;
    padding: 2em;
    background-color: whitesmoke;
    margin-bottom: 2em;
    box-shadow: 2px 2px 10px gray;

    .inputs {
        display: flex;
        flex-direction: column;
        width: 40%;
        border: none;
      
        input, label, textarea {
            margin: 0.5em; 
            padding: 1em;
        }
    }

    h2 {
        font-size: 5em;
    }
}