@import "colors";
@import "heading";
@import "main-page1";
@import "footer";

<<<<<<< HEAD
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}


=======
>>>>>>> header3-page1
